@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(45, 45, 45);
  font-family: "Roboto", sans-serif;
}

/* header  */

.header {
  width: 100%;
  height: 8vh;
  background-color: rgb(45, 45, 45);
  box-shadow: 3px 3px 30px rgba(180, 180, 180, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  z-index: 2;
}

.header img {
  width: 150px;
  cursor: pointer;
}

.header .main-title {
  font-size: 2em;
  color: white;
}

.header .nav-bar a {
  color: white;
  text-decoration: none;
  margin: 25px;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar a:active {
  color: rgb(127, 127, 127);
}

.header .input {
  font-size: 15px;
  padding: 5px 5px;
  outline: none;
  border: 1px solid white;
  background-color: rgb(29, 29, 29);
  color: white;
}

/* hero  */

.hero {
  width: 100%;
  height: 80vh;
  position: relative;
}

.hero .heroText {
  position: absolute;
  bottom: 200px;
  left: 50px;
  color: white;
  font-size: 25px;
  line-height: 1.3;
  z-index: 1;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

.hero .heroBtn {
  position: absolute;
  bottom: 140px;
  left: 50px;
  font-size: 26px;
  font-weight: 600;
  border: 0;
  background-color: antiquewhite;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  z-index: 1;
}

.hero .heroBtnInfo {
  position: absolute;
  bottom: 140px;
  left: 230px;
  font-size: 26px;
  border: 0;
  background-color: rgb(117, 117, 117);
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  z-index: 1;
}

.heroBtnInfo:hover,
.heroBtn:hover {
  background-color: rgb(136, 136, 136);
}

/* main  */

.tv-series {
  width: 95%;
  margin: 40px;
}

.tv-series h2 {
  font-size: 2em;
  color: white;
  margin: 40px 0;
}

.tv-series .card {
  padding: 14px;
}

.tv-series img {
  width: 180px;
  border-radius: 12px;
  cursor: pointer;
  object-fit: cover;
}

.tv-series .card:hover {
  transform: scale(1.1);
}

.tv-series .title {
  font-size: 15px;
  font-weight: 100;
  color: white;
  cursor: pointer;
}

/* most popular section */

.tv-series .most_popular {
  width: 95vw;
  display: flex;
  overflow-x: auto;
}

/* top rated section */

.tv-series .top_rated {
  width: 95vw;
  display: flex;
  overflow-x: auto;
}

/* upcoming movies  */

.tv-series .upcoming_movies {
  width: 95vw;
  display: flex;
  overflow-x: auto;
}

/* scroll  */

::-webkit-scrollbar {
  width: 10px;
  background-color: #62626274;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
  box-shadow: 3px 3px 30px rgba(255, 255, 255, 0.25);
}

/* footer  */

.footer {
  width: 100%;
  height: 18vh;
  border-top: 1px solid;
  box-shadow: 3px 3px 30px rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-evenly;
}

.footer .info-footer {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info-footer p {
  color: rgb(121, 121, 121);
}

.info-footer p:hover {
  color: rgb(121, 121, 121);
}

.footer .follow-us {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.follow-us h4 {
  font-size: 20px;
  color: rgb(121, 121, 121);
}

.follow-us .follow-us-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.follow-us .follow-us-list a {
  text-decoration: none;
  color: white;
}

.follow-us-list a:hover {
  text-decoration: underline;
}
